<!doctype html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/metro-bootstrap.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/wmd.css?v=105" rel="stylesheet"/>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
    <script type="text/javascript" src="/js/pagedown/Markdown.Converter.js"></script>
    <script type="text/javascript" src="/js/pagedown/Markdown.Sanitizer.js"></script>
    <script type="text/javascript" src="/js/pagedown/Markdown.Editor.js"></script>
</head>
    <body class="metro">
    <nav class="navbar navbar-default" role="navigation">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">i38</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                {% set navigation_bar = [
                    ('/', 'index', 'Top'),
                    ('/lastest', 'lastest', 'Lastest'),
                    ('/submit', 'submit', 'Submit')
                ] -%}

                {% for href, id, caption in navigation_bar %}
                  <li{% if id == active_page %} class="active"{% endif
                  %}><a href="{{ href|e }}">{{ caption|e }}</a></li>
                {% endfor %}
              </ul>
              <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Search</button>
              </form>
              <ul class="nav navbar-nav navbar-right">
               {% if not is_user_logged_in %}
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
               {% else %}
                <li><a href="/user/{{ username }}">{{ username }}</a></li>
                <li><a href="/logout">Logout</a></li>
               {% endif %}
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>

        <div class="header">
             {% block header %}{% endblock %}
        </div>

        <div class="container">
        {% block content %}{% endblock %}
        </div>

        <div id="footer">
          <div class="container">
            <footer>
                <a href="https://github.com/hungnq1989/i38">source code</a> | <a href="/rss">rss feed</a>
            </footer>
          </div>
        </div>
        <script src="/js/app.js"></script>
        <script>
            $(document).ready(function() {
                $("#post_comment").click(post_comment);
                var converter = Markdown.getSanitizingConverter();

                converter.hooks.chain("preBlockGamut", function (text, rbg) {
                    return text.replace(/^ {0,3}""" *\n((?:.*?\n)+?) {0,3}""" *$/gm, function (whole, inner) {
                        return "<blockquote>" + rbg(inner) + "</blockquote>\n";
                    });
                });

                var editor = new Markdown.Editor(converter);

                editor.run();

                $('.md').each(function(){
                  text = $(this).html().trim();
                  $(this).html(converter.makeHtml(text));
                });
            });
        </script>
        <script>var apisecret = 'c992fd9b82125d5fef0e3dff1a5b058ae1cd459c';</script>
    </body>
</html>
