 <div class="row">
      <div class="col-lg-6">
       <form role="form" id="formComment">
          <input type="hidden" name="news_id" value="{{ news_id }}">
          <input type="hidden" name="comment_id" value="{{ comment_id }}">
          <input type="hidden" name="parent_id" value="{{ parent_id }}">
          <div class="form-group">
          <label for="comment">{{ _('Commment') }}</label>
          <textarea name="text" id="wmd-input" cols="30" rows="10" class="form-control wmd-input">
            {% if is_edit %}
              {{ comment.text}}
            {% endif %}
          </textarea>
        </div>
          {% if is_edit %}
            {% set action = "edit_comment" %}
          {% else %}
             {% set action = "post_comment" %}
          {% endif %}
          <button type="button" id="{{ action }}" name="{{ action }}" class="btn btn-default">
          {% if is_edit %}
            {{ _('Edit') }}
          {% else %}
            {{ _('Submit') }}
          {% endif %}
        </button>
      </form>
    </div>
</div>
