{% extends 'base.html' %}

{% block title %} Edit {% endblock %}

{% block content %}
 <div class="row">
    <div id="comment" class="col-lg-12 col-sm-12">
      <article data-comment-id="{{comment.id}}" class="comment" id="{{comment.id}}">
      <span class="avatar"><img src="http://gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?s=48"></span>
        <span class="info"><span class="username"><a href="/user/{{comment.user.username}}">{{comment.user.username}}</a></span> {{ comment.time_ago()['duration'] }} {{ _(comment.time_ago()['text']) }}
        <a class="reply" href="/comment/{{comment.news_id}}/{{comment.id}}">{{ _('link') }}</a> |
        <a class="reply" href="/reply/{{comment.news_id}}/{{comment.id}}">{{ _('reply') }}</a>
        3 points <a class="uparrow" href="#up">▲</a> <a class="downarrow" href="#down">▼</a></span>
         <div class="user-comment">
          <div class="md">
            {{ comment.text }}
          </div>
          </div>
      </article>
    </div>
  </div>
  {% if is_user_logged_in %}
    {% include "comment.html" %}
  {% endif %}
{% endblock %}
