{% extends 'base.html' %}

{% block title %}Homepage{% endblock %}
{% if lastest %}
  {% set active_page = "lastest" %}
{% else %}
  {% set active_page = "index" %}
{% endif %}

{% block content %}
<div class="row">
  <div class="col-lg-12">
    <h2>Top news</h2>
  </div>
</div>
<div class="row">
  <div class="col-lg-12 col-sm-12" id="news_list">
    {% for news in news_list %}
      <article data-news-id="{{news.id}}">
        <a class="uparrow" href="#up">▲</a>
        <h2><a href="{{ news.site_url }}">{{ news.site_title }}</a></h2>
        <address>at {{ news.tld() }}</address>
        <a class="downarrow" href="#down">▼</a>
        <p>{{ news.vote_up }} up and {{ news.vote_down }} down, posted by <username><a href="/user/{{ news.user.username }}">{{ news.user.username }}</a></username> {{ news.time_ago() }} <a href="/news/{{ news.id }}">{{ news.comments}} comments</a></p>
     </article>
    {% endfor %}
  </div>
</div>
<div class="row">
  <ul class="pagination">
  {% if next_page >= 2%}
  <li><a href="/index/{{next_page-2}}">Previous</a></li>
  {% endif %}
  <li><a href="/index/{{next_page}}">Next</a></li>
</ul>

</div>
{% endblock %}
