{% extends 'base.html' %}

{% block title %}Homepage{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-12">
    <h2>Top news</h2>
  </div>
</div>
<div class="row">
  <div class="col-lg-12 col-sm-12">
    {% for page in pages %}
      <article>
        <a class="uparrow" href="#up">▲</a>
        <h2><a href="{{ page.page_url }}">{{ page.page_title }}</a></h2>
        <a class="downarrow" href="#down">▼</a>
        <p>{{ page.vote_up }} up and {{ page.vote_down }} down, posted by <username><a href="/user/{{ page.user.username }}">{{ page.user.username }}</a></username> 1 day ago <a href="/news/{{ page.id }}">{{ page.comments}} comments</a></p>
     </article>
    {% endfor %}
  </div>
</div>
<div class="row">
  <ul class="pagination">
  {% if next_page >= 2%}
  <li><a href="/index/{{next_page-2}}">Previous</a></li>
  {% endif %}
  <li><a href="/index/{{next_page}}">Next</a></li>
</ul>

</div>
{% endblock %}
