{% extends 'base.html' %}

{% block title %}Homepage{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-12">
    <h2>Top news</h2>
  </div>
</div>
<div class="row">
  <div class="col-lg-12 col-sm-12">
    {% for page in pages %}
      <article>
        <a class="uparrow" href="#up">▲</a>
        <h2><a href="{{ page.page_url }}">{{ page.page_title }}</a></h2>
        <a class="downarrow" href="#down">▼</a>
        <p>1 up and 0 down, posted by <username><a href="/user/dtby">dtby</a></username> 1 day ago <a href="/news/{{ page.id }}">9 comments</a></p>
     </article>
    {% endfor %}
  </div>
</div>
{% endblock %}