{% extends 'base.html' %}

{% block title %} {{ news.page_title }}{% endblock %}

{% set active_page = "index" %}

{% block content %}
<div class="row">
  <div class="col-lg-12 col-sm-">
   <section id="newslist">
      <article data-news-id="{{news.id}}">
          <a href="#up" class="uparrow voted">▲</a>
          <h2><a href="{{news.site_url}}" rel="nofollow">{{news.site_title}}</a></h2>
          <address>at {{ news.tld() }}</address>
          <a href="#down" class="downarrow disabled">▼</a>
          <p>{{ news.vote_up }} {{ _('up') }} {{ _('and') }} {{ news.vote_down }} {{ _('down') }}, {{ _('posted by') }} <username><a href="/user/{{news.user.username}}">{{ news.user.username }}</a></username> {{ news.time_ago()['duration'] }} {{ _(news.time_ago()['text']) }} <a href="/news/{{news.id}}">{{ news.comments }} {{ _('comments') }}</a></p>
          <div class="user-text-body">
            <div class="md">
              {{ news.description }}
            </div>
          </div>
        </article>
    </section>
  </div>
</div>
  {% if is_user_logged_in %}
  <div class="row">
      <div class="col-lg-6">
       <form role="form" id="formComment">
          <input type="hidden" name="news_id" value="{{news.id}}">
          <input type="hidden" name="comment_id" value="-1">
          <input type="hidden" name="parent_id" value="-1">
          <div class="form-group">
          <label for="comment">{{ _('Comment') }}</label>
          <textarea name="text" id="wmd-input" cols="30" rows="10" class="form-control wmd-input"></textarea>
        </div>
        <button type="button" id="post_comment" name="post_comment" class="btn btn-default">{{ _('Submit') }}</button>
      </form>

    </div>
  </div>
  {% endif %}
  <div class="row comment_list">
    <div id="comments" class="col-lg-12 col-sm-12">
     {% for comment in comments %}
      <article data-comment-id="{{comment.id}}" class="comment" id="{{news.id}}-{{comment.id}}" style="margin-left:{{ (comment.level-1) * 30}}px">
      <span class="avatar"><img src="http://gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?s=48"></span>
        <span class="info"><span class="username"><a href="/user/{{comment.user.username}}">{{comment.user.username}}</a></span> {{ comment.time_ago()['duration'] }} {{ _(comment.time_ago()['text']) }}
        <a class="reply" href="/comment/{{comment.news_id}}/{{comment.id}}">{{ _('link') }}</a> |
        <a class="reply" href="/reply/{{comment.news_id}}/{{comment.id}}">{{ _('reply') }}</a>
        3 points <a class="uparrow" href="#up">▲</a> <a class="downarrow" href="#down">▼</a></span>
        {% if comment.user_id == user_id %}
            {% if created_at(comment.created_at) <= 120 %}
                <a href="/edit/{{comment.news_id}}/{{comment.id}}">{{ _('edit') }}</a>
                ({{120 - created_at(comment.created_at)}} minutes left)
            {% endif %}
        {% endif %}
        <div class="user-comment">
          <div class="md">
            {{comment.text}}
          </div>
        </div>
      </article>
      {% endfor %}
    </div>
  </div>
{% endblock %}
