{% extends 'base.html' %}

{% block title %} {{ news.page_title }}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-12 col-sm-">
   <section id="newslist">
      <article data-news-id="{{news.id}}">
          <a href="#up" class="uparrow voted">▲</a>
          <h2><a href="{{news.site_url}}" rel="nofollow">{{news.site_title}}</a></h2>
          <address>at llbit.se</address>
          <a href="#down" class="downarrow disabled">▼</a>
          <p>{{ news.vote_up }} up and {{ news.vote_down }} down, posted by <username><a href="/user/{{news.user.username}}">{{ news.user.username }}</a></username> 22 days ago <a href="/news/{{news.id}}">{{ news.comments }} comments</a></p>
        </article>
    </section>
  </div>
</div>
  {% if is_user_logged_in %}
  <div class="row">
      <div class="col-lg-6">
       <form role="form" id="formComment">
          <input type="hidden" name="news_id" value="{{news.id}}">
          <input type="hidden" name="comment_id" value="-1">
          <input type="hidden" name="parent_id" value="-1">
          <div class="form-group">
          <label for="comment">Comment</label>
          <textarea name="text" id="" cols="30" rows="10" class="form-control"></textarea>
        </div>
        <button type="button" id="post_comment" name="post_comment" class="btn btn-default">Submit</button>
      </form>
    </div>
  </div>
  {% endif %}
  <div class="row">
    <div id="comments" class="col-lg-12 col-sm-12">
     {% for comment in comments %}
      <article data-comment-id="{{comment.id}}" class="comment" id="{{comment.id}}">
      <span class="avatar"><img src="http://gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?s=48"></span>
        <span class="info"><span class="username"><a href="/user/{{comment.user.username}}">{{comment.user.username}}</a></span> time ago
        <a class="reply" href="/comment/{{comment.news_id}}/{{comment.id}}">link</a>
        <a class="reply" href="/reply/{{comment.news_id}}/{{comment.id}}">reply</a>
        3 points <a class="uparrow" href="#up">▲</a> <a class="downarrow" href="#down">▼</a></span>
        <pre>{{comment.text}}</pre>
      </article>
      {% endfor %}
    </div>
  </div>
{% endblock %}
