html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
article h2 {
  display: inline;
  font-size: 20px;
}

article address {
  display: inline;
  color: #999;
  font-size: 14px;
}
.container {
  width: auto;
  margin-left: 20px;
  margin-right: 20px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}
.comment_list {
  margin-top: 20px;
}
article .downarrow.disabled, .uparrow.disabled {
  visibility: hidden;
}

.user-text-body {
  font-family: sans-serif;
  font-size: 14px;
}

.user-comment {
  margin:10px 10px 10px 0px;
  padding: 10px;
  border-left: 1px solid lightblue;
  border-bottom: 1px solid lightblue;
}

.md {
  max-width: 60em;
  overflow: auto;
  font-size: small;
}

